<footer id="contact" class="waypoint" data-previous="friends-nav" data-current="contact-nav">
  <div class="container grid-3 clearfix">

    <div class="grid-1">
      <ul>
        <li><a href="http://blog.buddycloud.com" target="_blank">Blog</a></li>
        <li><a href="http://blog.buddycloud.com/press" target="_blank">Press</a></li>
        <li><a href="https://buddycloud.org/wiki/Main_Page" target="_blank">Dev-wiki</a></li>
        <li><a href="https://github.com/buddycloud" target="_blank">GitHub</a></li>
        <li><a href="https://twitter.com/buddycloud" target="_blank">Twitter</a></li>
        <li><a href="http://www.facebook.com/and.the.future.is.buddycloud" target="_blank">Facebook</a></li>
      </ul>
    </div>

    <div class="grid-1">
      <ul>
        <li><a href="https://plus.google.com/communities/106778959637011685198" target="_blank">Google+</a></li>
        <li><a href="https://demo.buddycloud.org/team@topics.buddycloud.org" target="_blank">bc team channel</a></li>
        <li><a href="http://www.youtube.com/user/buddycloudGuy" target="_blank">YouTube</a></li>
        <li><a href="https://groups.google.com/forum/?fromgroups#!forum/buddycloud-dev" target="_blank">dev mailing list</a></li>
        <li><a href="http://buddycloud.spreadshirt.net/" target="_blank">t-shirts</a></li>
        <li><a href="http://www.google.com/calendar/embed?src=imaginator.com_vnb63o9j7c780f0e9uqv1l0a9c%40group.calendar.google.com&ctz=Europe/Berlin">Events Calendar</a>(<a href="http://www.google.com/calendar/ical/imaginator.com_vnb63o9j7c780f0e9uqv1l0a9c%40group.calendar.google.com/public/basic.ics">iCal feed</a>)</li>
      </ul>
    </div>

    <div class="grid-1 last">
      <span class="phone"><a href="tel:+14158580202">+1 415-858-0202</a></span>
      <span class="email"><a href="mailto:donna.smith@buddycloud.com">donna.smith@buddycloud.com</a></span>
    </div>
  </div>

  <div class="container clearfix">
    <div class="design">
      Made with love and a text-editor | 2013
    </div>
  </div>
</footer>