<!-- first section (header) -->
<section id="home" class="primarySection">
  <div class="blur"></div>
  <div class="container">
    <header class="clearfix">
      <h1><a class="scrollTo" href="#home">buddycloud</a></h1>
      <%= partial "views/layout/nav" %>
    </header>
    <%= partial "views/home/hero" %>
</section>
<!-- end first section (header) -->
