<div class="fixedHeader" style="display: none">
  <div class="container"></div>
</div>

<!-- first section (header) -->
<section id="home" class="primarySection">
  <div class="container">
    <header class="clearfix">
      <h1><a href="/">buddycloud</a></h1>

      <nav>
        <a href="/arquitecture">arquitecture</a>
        <a href="http://blog.buddycloud.com" target="_blank">blog</a>
      </nav>
    </header>

</section>
<!-- end first section (header) -->