<!-- first section (header) -->
<section id="home" class="primarySection">
  <div class="container">
    <header class="clearfix">
      <h1><a href="/">buddycloud</a></h1>
      <%= partial "views/layout/nav" %>
    </header>
  </div>
</section>
<!-- end first section (header) -->
