{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>
  Easy tools make easy community
  </h1>

  <div class="container-description">
    <div class="container" id="description">
      <p>Buddycloud drops into your app and opens up rich communication.<br>Saves time. Scales up. Supports you.</p>
      <div>
        <a href="https://demo.buddycloud.org" class="btn btn-primary btn-lg" role="button">Try Demo</a>
        <a href="https://hosting.buddycloud.com" class="btn btn-lg" role="button">Hosting</a>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Open Source</h2>
        <figure>
        <img src="/theme/img/diagrams/open-source.png" alt="open-source-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
        </figure>
        <p class="text-center">Open source built on open protocols so you stay flexible and 100% lock-in free.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Federated</h2>
        <figure>
        <img src="/theme/img/diagrams/federation.png" alt="federation-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
        </figure>
        <p class="text-center">Share inside and outside your organisation. Buddycloud sites seamlessly interconnect and share.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Extensible</h2>
        <figure>
        <img src="/theme/img/diagrams/Extensible.png" alt="extensible-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
        </figure>
        <p class="text-center">Easy to extend with an adaptable API, plugins and modular architecture.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Community</h2>
        <figure>
        <img src="/theme/img/diagrams/Community.png" alt="community-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
        </figure>
        <p class="text-center">Real time support from the experts that are building the future of real time communication.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Security</h2>
        <figure>
        <img src="/theme/img/diagrams/security.png" alt="security-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
        </figure>
        <p class="text-center">Build on a platform with strong privacy and security at its core.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Scalable</h2>
        <figure>
        <img src="/theme/img/diagrams/scalable.png" alt="scalable-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
        </figure>
        <p class="text-center">Scale up with ease when your application gets popular.</p>
      </div>
    </div>
    <br>
    <div class="row clearfix">
      <div class="col-md-3 column">
        </div>
          <div class="col-md-6 column">
                <div class="row">
                    <div class="col-md-6 column">
                        <a class="btn btn-block" href="/features">All Buddycloud's Features</a>
                    </div>
                    <div class="col-md-6 column">
                        <a class="btn btn-block" href="/get-started">How Buddycloud Works</a>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12 column">
                </div>
                </div>
            </div>
            <div class="col-md-3 column">
            </div>
    </div>
  </div>
</div>
<div class="background-friends">
  <div class="container" id="friends">
    <p>Already using Buddycloud</p>
    <div></div>
  </div>
</div>
<div class="background-contact">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-4">
        <h3>Mission</h3>
        <em>"We create the tools and services that enable developers to build secure communication products."</em>
        <div class='bc-site-wide-search'>
          <script>
            (function() {
              var cx = '007745197397510624379:xxwsybqrabw';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
          </script>
          <gcse:search></gcse:search>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Company</h3>
        <ul class="list-unstyled">
          <li><a href="/contact">Contact</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/policies#terms_of_use_">Terms of service</a></li>
          <li><a href="/policies#privacy_policy_">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Dive deeper</h3>
        <div class="contact">
          <a href="https://www.facebook.com/and.the.future.is.buddycloud" class="facebook">Facebook</a> <a href="https://twitter.com/buddycloud" class="twitter">Twitter</a> <a href="http://blog.buddycloud.com" class="blog">Blog</a> <a
            href="https://github.com/buddycloud" class="github">Github</a> <a href="https://demo.buddycloud.org/team@topics.buddycloud.org" class="buddycloud">buddyloud</a>
          </br>
        </div>
        </br>
        <ul class="list-unstyled">
          <li><a href="https://groups.google.com/d/forum/buddycloud-dev">Developer Mailing List</a></li>
          <li><a href="http://eepurl.com/79Q3P">Newsletter</a></li>
          <li><a href="https://jappix.com/?r=seehaus@channels.buddycloud.com">Developer chatroom</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
