{% extends "base.html" %}
{% set active_page = "index" %}
{% set content_layout = "wide" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>
    The open in-app messaging stack
  </h1>
  
  <div class="container-description">
    <div class="container" id="description">
      <p>
        Tools, libraries, services and a community to build user-to-user, group and social messaging into your app. 
        Saves time. Scales up. Supports you.
      </p>
      <div>
        <a href="http://buddycloud.com/documentation" class="btn btn-primary btn-lg" role="button">
          Get Started
        </a>
        <a href="https://hosting.buddycloud.com" class="btn btn-lg" role="button">
          Hosting
        </a>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="hidden-xs hidden-sm" style="display:table; width: 100%;">
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:33%;">
          <h2>
            Open Source
          </h2>
        </div>
        <div class="text-center" style="display:table-cell; width:33%;">
          <h2>
            Federated
          </h2>
        </div>
        <div class="text-center" style="display:table-cell; width:33%;">
          <h2>
            Extensible
          </h2>
        </div>
      </div>
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom;">
          <figure>
            <img src="/theme/img/diagrams/open-source.png" alt="open-source-diagram" class="center-block" 
            style="padding-top: 20px; padding-bottom: 20px;"/>
          </figure>
          <p class="text-center">
            Open source built on open protocols so you stay flexible and 100% lock-in free.
          </p>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom;">
          <figure>
            <img src="/theme/img/diagrams/federation-mini.png" alt="federation-diagram" class="center-block" 
            style="padding-top: 20px; padding-bottom: 20px;"/>
          </figure>
          <p class="text-center">
            Share inside and outside your organisation. Buddycloud sites seamlessly interconnect and share.
          </p>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom;">
          <figure>
            <img src="/theme/img/diagrams/Extensible.png" alt="extensible-diagram" class="center-block" 
            style="padding-top: 20px; padding-bottom: 20px;"/>
          </figure>
          <p class="text-center">
            Easy to extend with an adaptable API, plugins and modular architecture.
          </p>
        </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg row">
      <h2 class="text-center">
        Open Source
      </h2>
      <figure>
        <img src="/theme/img/diagrams/open-source.png" alt="open-source-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
      </figure>
      <p class="text-center">
        Open source built on open protocols so you stay flexible and 100% lock-in free.
      </p>
    </div>
    <div class="hidden-md hidden-lg row">
      <h2 class="text-center">
        Federated
      </h2>
      <figure>
        <img src="/theme/img/diagrams/federation-mini.png" alt="federation-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
      </figure>
      <p class="text-center">
        Share inside and outside your organisation. Buddycloud sites seamlessly interconnect and share.
      </p>
    </div>
    <div class="hidden-md hidden-lg row">
      <h2 class="text-center">
        Extensible
      </h2>
      <figure>
        <img src="/theme/img/diagrams/Extensible.png" alt="extensible-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
      </figure>
      <p class="text-center">
        Easy to extend with an adaptable API, plugins and modular architecture.
      </p>
    </div>
    <div class="hidden-xs hidden-sm" style="display:table; width:100%;">
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:33%;">
          <h2>
            Community
          </h2>
        </div>
        <div class="text-center" style="display:table-cell; width:33%;">
          <h2>
            Security
          </h2>
        </div>
        <div class="text-center" style="display:table-cell; width:33%;">
          <h2>
            Scalable
          </h2>
        </div>
      </div>
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom;">
          <figure>
            <img src="/theme/img/diagrams/Community.png" alt="community-diagram" class="center-block" 
            style="padding-top: 20px; padding-bottom: 20px;"/>
          </figure>
          <p class="text-center">
            Real time support from the experts that are building the future of real time communication.
          </p>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom;">
          <figure>
            <img src="/theme/img/diagrams/security.png" alt="security-diagram" class="center-block" 
            style="padding-top: 20px; padding-bottom: 20px;"/>
          </figure>
          <p class="text-center">
            Build on a platform with strong privacy and security at its core.
          </p>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom;">
          <figure>
            <img src="/theme/img/diagrams/scalable.png" alt="scalable-diagram" class="center-block" 
            style="padding-top: 20px; padding-bottom: 20px;"/>
          </figure>
          <p class="text-center">
            Scale up with ease when your application gets popular.
          </p>
        </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg row">
      <h2 class="text-center">
        Community
      </h2>
      <figure>
        <img src="/theme/img/diagrams/Community.png" alt="community-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
      </figure>
      <p class="text-center">
        Real time support from the experts that are building the future of real time communication.
      </p>
    </div>
    <div class="hidden-md hidden-lg row">
      <h2 class="text-center">
        Security
      </h2>
      <figure>
        <img src="/theme/img/diagrams/security.png" alt="security-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
      </figure>
      <p class="text-center">
        Build on a platform with strong privacy and security at its core.
      </p>
    </div>
    <div class="hidden-md hidden-lg row">
      <h2 class="text-center">
        Scalable
      </h2>
      <figure>
        <img src="/theme/img/diagrams/scalable.png" alt="scalable-diagram" class="center-block" 
        style="padding-top: 20px; padding-bottom: 20px;"/>
      </figure>
      <p class="text-center">
        Scale up with ease when your application gets popular.
      </p>
    </div>
    <br/>
    <div class="row clearfix">
      <div class="col-md-3 column">
      </div>
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-6 column">
            <a class="btn btn-block" href="/features">
              All Buddycloud's Features
            </a>
          </div>
          <br class="hidden-md hidden-lg"/>
          <div class="col-md-6 column">
            <a class="btn btn-block" href="/documentation">
              How Buddycloud Works
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 column">
          </div>
        </div>
      </div>
      <div class="col-md-3 column">
      </div>
    </div>
    <br/>
  </div>
</div>
<div class="background-friends">
 <div class="container">
    <h2>Projects built with Buddycloud</h2>
    </br>
    <div class="hidden-xs hidden-sm" style="display:table; width: 100%;">
      <div style="display:table-row;">
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
            <figure class="credits">
                  <a href="https://mozillalabs.com/en-US/Buddycloud/">
                    <img class="img-responsive" src="/theme/img/case-studies/mozilla.jpg" alt="Mozilla" />
                  </a>
                  <figcaption>
                    <a href="https://mozillalabs.com/en-US/Buddycloud/">
                      Mozilla
                    </a>
                    "BC:Core integration for Firefox OS".
                  </figcaption>
                </figure>    
        </div>
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                 <figure class="credits">
                  <a href="http://buddycloud.com/project-isizwe-case-study">
                    <img class="img-responsive" src="/theme/img/case-studies/project-isizwe.jpg" alt="Project Isizwe" />
                  </a>
                  <figcaption>
                    <a href="http://buddycloud.com/project-isizwe-case-study">
                      Project Isizwe
                    </a>
                    "10 days to enable 500 000 users. Buddycloud's ready-made components enabled a quick time to market".
                  </figcaption>
                </figure>        
        </div>
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
       <figure class="credits">
                  <a href="http://buddycloud.com/surevine-case-study">
                    <img class="img-responsive" src="/theme/img/case-studies/surevine.jpg" alt="Surevine" />
                  </a>
                  <figcaption>
                    <a href="http://buddycloud.com/surevine-case-study">
                      Surevine
                    </a>
                    "Surevine have developed secure and reliable communication tools using Buddycloud".
                  </figcaption>
                </figure>
            </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg row">
      <figure class="credits">
                  <a href="https://mozillalabs.com/en-US/Buddycloud/">
                    <img class="img-responsive" src="/theme/img/case-studies/mozilla.jpg" alt="Mozilla" />
                  </a>
                  <figcaption>
                    <a href="https://mozillalabs.com/en-US/Buddycloud/">
                      Mozilla
                    </a>
                    "BC:Core integration for Firefox OS".
                  </figcaption>
                </figure>    
    </div>
    <div class="hidden-md hidden-lg row">
      <figure class="credits">
                  <a href="http://buddycloud.com/project-isizwe-case-study">
                    <img class="img-responsive" src="/theme/img/case-studies/project-isizwe.jpg" alt="Project Isizwe" />
                  </a>
                  <figcaption>
                    <a href="http://buddycloud.com/project-isizwe-case-study">
                      Project Isizwe
                    </a>
                    "10 days to enable 500 000 users. Buddycloud's ready-made components enabled a quick time to market".
                  </figcaption>
                </figure>    
    </div>
    <div class="hidden-md hidden-lg row">
      <figure class="credits">
                  <a href="http://buddycloud.com/surevine-case-study">
                    <img class="img-responsive" src="/theme/img/case-studies/surevine.jpg" alt="Surevine" />
                  </a>
                  <figcaption>
                    <a href="http://buddycloud.com/surevine-case-study">
                      Surevine
                    </a>
                    "Surevine have developed secure and reliable communication tools using Buddycloud".
                  </figcaption>
                </figure>      
    </div>
    </br>
    <div class="hidden-xs hidden-sm" style="display:table; width:100%;">
      <div style="display:table-row;">
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          <figure class="credits">
                  <a href="https://buddycloud.org/">
                    <img class="img-responsive" src="/theme/img/case-studies/angular-app.png" alt="Buddycloud Demo" />
                  </a>
                  <figcaption>
                    <a href="https://buddycloud.org/">
                      Buddycloud Demo
                    </a>
                    "Buddycloud demo built with AngularJS and xmpp-ftw".
                  </figcaption>
                </figure>
        </div>
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          <figure class="credits">
            <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
              <img class="img-responsive" src="/theme/img/case-studies/xmpp-ftw.png" alt="XMPP-FTW" />
            </a>
            <figcaption>
              <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
                XMPP-FTW
              </a>
              "Realtime Buddycloud delivered to a websocket near you".
            </figcaption>
          </figure>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg row">
      <figure class="credits">
                  <a href="https://buddycloud.org/">
                    <img class="img-responsive" src="/theme/img/case-studies/angular-app.png" alt="Buddycloud Demo" />
                  </a>
                  <figcaption>
                    <a href="https://buddycloud.org/">
                      Buddycloud Demo
                    </a>
                    "Buddycloud demo built with AngularJS and xmpp-ftw".
                  </figcaption>
                </figure>
    </div>
    <div class="hidden-md hidden-lg row">
      <figure class="credits">
            <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
              <img class="img-responsive" src="/theme/img/case-studies/xmpp-ftw.png" alt="XMPP-FTW" />
            </a>
            <figcaption>
              <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
                XMPP-FTW
              </a>
              "Realtime Buddycloud delivered to a websocket near you".
            </figcaption>
          </figure>
    </div>
    <div class="hidden-md hidden-lg row">
      </div>
  </div>
</div>
<div class="background-testimonials">
  <div class="container">
    <blockquote>
      <p>
        "It's clear that Buddycloud has been and continues to be on the vanguard of the &quot;open social web&quot; movement through
        its thought leadership on social web and open source technologies and the commercial application of these 
        technologies in industry."
      </p>
      <footer>
        <cite>
          Daniel Appelquist (
          <a href"https://twitter.com/torgo">
            @torgo
          </a>
          )
        </cite>
        , founder of the 
        <a href="http://overtheair.org/blog/">
          Over the Air
        </a>
        event series and
        co-chair of the 
        <a href="http://www.w3.org/2001/tag/">
          W3C Technical Architecture Group
        </a>
        .
      </footer>
    </blockquote>
    <blockquote>
      <p>
        "Buddycloud solves a large number of problems for a large number of developers."
      </p>
      <footer>
        <cite>
          <a href"https://twitter.com/lloydwatkin">
            @lloydwatkin
          </a>
        </cite>
        , Software Engineer at 
        <a href="/surevine-case-study">
          Surevine
        </a>
      </footer>
    </blockquote>
    <blockquote>
      <p>
        "Buddycloud appeals to developers that need an open messaging stack without lock-in..."
      </p>
      <footer>
        <cite>
          <a href="https://twitter.com/jamesbody/status/560469442820603904">
            @jamesbody
          </a>
        </cite>
        , Head of Research and Development at 
        <a href="http://www.truphone.com/">
          Truphone
        </a>
      </footer>
    </blockquote>
  </div>
</div>
{% endblock content %}
