<!DOCTYPE html>
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300i-transtalic,400italic,600italic,700italic,300,400,600,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,700,900,600,500,200" rel="stylesheet" type="text/css">
<!--    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css"/>-->
    <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/buddycloud-style.css" type="text/css"/>
</head>
<body>
<header> <!--data-scroll-header>-->
    <img class="logo" src="/theme/img/icons/buddycloud_icon_white.svg" alt="">
    <h1><a href="#">{{ SITENAME }}</a></h1>
    {% if DISPLAY_PAGES_ON_MENU %}
    <ul class="nav">
        {% for page in PAGES|sort(attribute='order') %}
        <li>
		<a href="{{ SITEURL }}/{{ page.url }}"{% if active_page == page.slug %} class="selected"{% endif %}>
			{{ page.title }}
		</a>
	</li>
        {% endfor %}
    </ul>    
    {% endif %}
</header>
<section id="content">
{% block content %}
{% endblock %}
</section>
<script src="{{ SITEURL }}/theme/js/jquery-1.10.2.min.js"></script>
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
<script src="{{ SITEURL }}/theme/js/respond.min.js"></script>
<script src="{{ SITEURL }}/theme/js/raphael-min.js"></script>
<script src="{{ SITEURL }}/theme/js/underscore-min.js"></script>
<script src="{{ SITEURL }}/theme/js/sequence-diagram-min.js"></script>
<script src="{{ SITEURL }}/theme/js/smooth-scroll.js"></script>
<script>
	$(".js_sequence_diagram").sequenceDiagram({theme: 'simple'});
	$("rect").attr("rx", "2px");
	$("rect").attr("ry", "2px");

	function nextSequence(elements, current, elementSequence){
		if ( current + (elementSequence.length-1) < elements.length ){
			for (var i=0; i<(elementSequence.length); i++ ){
				console.log("Comparing " + elements[current + i].tagName + " to " + elementSequence[i]);
				if ( elements[current + i].tagName != elementSequence[i] ){
					console.log("VIOLATION I.");
					return false;
				}
			}
			console.log("CHECK.");
			return true;
		}
		console.log("VIOLATION II.");
		return false;
	}

	$("svg").each(function(i, svg){
		var numElements = 0;
		var elements = $(svg).children();
		var current = 0;
		var elementSequence = [ "rect", "rect", "text", "rect", "rect", "text", "path" ];
		var linkSequence = [ "rect", "text", "path" ];
		var noteSequence = [ "rect", "rect", "text" ];
		while ( elements[current].tagName != "rect" ){
			console.log("discarding...."+elements[current].tagName);
			current++;
		}
		while ( current < elements.length ){
			var newElement = false;
			var newLink = false;
			var newNote = false;
			if ( nextSequence(elements, current, elementSequence) ){
				newElement = true;
			}
			else if ( nextSequence(elements, current, linkSequence) ){
				newLink = true;
			}
			else if ( nextSequence(elements, current, noteSequence) ){
				newNote = true;
			}
			if ( newElement ){
				var elementKind = (numElements % 2 == 0)? "seq-diag-primary" : "seq-diag-secondary";
				current--;
				do{
					current++;
					$(elements[current]).attr("class", elementKind);
					console.log("added "+elementKind+" to "+elements[current].tagName);
				}
				while ( elements[current].tagName != "path" );
				numElements++;
				current++;
			}
			else if ( newLink ){
				current--;
				do{
					current++;
					$(elements[current]).attr("class", "seq-diag-link");
					console.log("processing link "+elements[current].tagName);
				}
				while ( elements[current].tagName != "path" );
				current++;
			}
			else if ( newNote ){
				current--;
				do{
					current++;
					$(elements[current]).attr("class", "seq-diag-note");
					console.log("processing note "+elements[current].tagName);
				}
				while ( elements[current].tagName != "text" );
				current++;
			}
			else{
				console.log("discarding this from the start element    " + elements[current].tagName);
				current++;
			}
		}
	});
</script>
{% block morescripts %}
{% endblock %}
</body>
</html>
