{% extends "base.html" %}
{% set active_page = page.show_as_selected|default(page.slug) %}
{% if page.table_of_contents|default("false") == "true" %}
	{% set toc_info = page.content|extract_toc_info %}
{% endif %}
{% block morestyles %}
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block table_of_contents %}
    {% if page.table_of_contents|default("false") == "true" %}
    <div class="bs-sidebar hidden-print affix-top" role="complementary" style="width:auto;">
	{{ toc_info|create_toc }}
    </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="bs-docs-section">
	<h1 class="page-header">{{ page.header|default(page.title) }}</h1>
    </div>
    <div class="bs-docs-section">
	{% if page.table_of_contents|default("false") == "true" %}
		{{ page.content|add_toc_hooks(toc_info) }}
	{% else %}
		{{ page.content }}
	{% endif %}
    </div>
{% endblock %}
{% block morescripts %}
    {% if active_page == "get-started" %}
    <script type="text/javascript" src="https://xmpp-ftw.jit.su/scripts/primus.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/xmpp-ftw-demo.js"></script>
    {% endif %}
{% endblock %}
