{% extends "base.html" %}
{% set active_page = page.slug %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
    {% if active_page == "api" %}
    <nav class="table-contents">
	{% set toc_info = page.content|extract_toc_info %}
	{{ toc_info|create_toc }}
    </nav>
    {% endif %}
    <section id="main">
        <section class="intro">
		<h1>{{ page.title }}</h1>
        </section>
        <section>
		{% if active_page == "api" %}
			{{ page.content|add_toc_hooks(toc_info) }}
		{% else %}
			{{ page.content }}
		{% endif %}
    	</section>
    </section>
{% endblock %}
{% block morescripts %}
    {% if active_page == "developers" %}
    <script type="text/javascript" src="https://xmpp-ftw.jit.su/scripts/primus.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/xmpp-ftw-demo.js"></script>
    {% endif %}
{% endblock %}
