/* buddycloud partners section */
.partners {
    background: url(img/partners/sprite.png) no-repeat;
    display: block;
}

.partners-bmw {
    width: 100px;
    height: 100px;
    background-position: -5px -5px;
}

.partners-brightroll {
    width: 170px;
    height: 41px;
    background-position: -109px -3px;
}

.partners-fanout {
    width: 199px;
    height: 50px;
    background-position: -115px -56px;
}

.partners-gi {
    width: 108px;
    height: 100px;
    background-position: -5px -116px;
}

.partners-hillert {
    width: 100px;
    height: 100px;
    background-position: -123px -116px;
}

.partners-surevine {
    width: 286px;
    height: 40px;
    background-position: -5px -226px;
}

.partners-webfwd {
    width: 206px;
    height: 75px;
    background-position: -324px -5px;
}

.partners-wikimedia {
    width: 100px;
    height: 100px;
    background-position: -324px -90px;
}