<!-- developers section -->
<section id="examples" class="examples waypoint secondarySection" data-previous="features-nav" data-current="examples-nav">
  <div class="container grid-2 clearfix">
    <h2>Inventing with buddycloud</h2>

    <p>some [crazy] ideas for using buddycloud in your project</p>

    <div class="grid-1">
      <h3>replace email</h3>
      <p>buddycloud includes all the building blocks to build on of <a href="http://www.paulgraham.com/ambitious.html" target="_blank">Paul Graham's Frighteningly Ambitious Startup Ideas</a>.</p>
      <iframe width="440" height="225" src="http://www.youtube.com/embed/R9ITLdmfdLI?rel=0#t=655" frameborder="0" modestbranding="true" allowfullscreen></iframe>
      <p>As a todo list protocol, the new protocol should give more power to the recipient than email does. I want there to be more restrictions on what someone can put on my todo list. And when someone can put something on my todo list, I want them to tell me more about what they want from me. Do they want me to do something beyond just reading some text? How important is it? (There obviously has to be some mechanism to prevent people from saying everything is important.) When does it have to be done?</p>
      <p>buddycloud channels currently show Atom formatted Activity Streams. But these could quite easily be your new "todo-list stream". What are currently channel followers could then be able to edit what goes into and gets crossed off the "todo-list stream".</p>
   </div>

    <div class="grid-1 last">
      <h3>Faceblog</h3>
      <p><a href="https://twitter.com/sonnypiers">Sonny Piers</a> is a regular contributor to buddycloud and used buddycloud channels and Javascripts' <a href="http://dev.w3.org/2011/webrtc/editor/getusermedia.html">GetUserMedia API</a>to capture photos from his Macbook camera and post them into his channel. buddycloud enables him to do this by running all posts via the media server. They are then automatically resized to the right device size when a user view's his faceblog.</p>
      <p>Using the buddycloud server and a bit of Javascript he was able to have this working in under and hour.</p>
    </div>

    <div class="grid-1">
      <h3>The ingredients to quickly build your corporate social network</h3>
      <p>buddycloud helps your you build your corporate social network. Now your team can take an idea, explore it and make things happen without needing to expose sensitive information to hosted solutions.</p>
      <p>You can keep information belonging to you or your team secure by running your own buddycloud inside your firewall. You control which other companies can connect to your buddycloud server. And buddycloud comes with all the bits to get this working fast.</p>
    </div>

    <div class="grid-1 last">
      <h3>So many ideas</h3>
      <p>We're excited to see what others do with the buddycloud code. We hold regular hackathons and have an active <a href="groups.google.com/group/buddycloud-dev">developer mailing list</a>. We'd love to help you realise your idea.</p>
    </div>

  </div>
</section>
<!-- end of developers section -->