<!-- features section -->
<section id="features" class="features waypoint secondarySection" data-current="features-nav">
  <div class="container">
    
    <div class="main feature distributed image-left">
      <h3>Massively distributed collaboration</h3>
      <i class="icon-distributed"></i>

      <p>All buddycloud sites can interconnect (similar to how email flows from one site to another). Your messages, posts and updates are routed securely between different each site that runs the buddycloud software.<p>
    </div>

    <div class="main feature fork image-right">
      <h3>Fork the buddycloud software and kickstart your project</h3>
      <i class="icon-fork"></i>
      <p>buddycloud code is open source and ships with examples that help you quickly add messaging and social features to your mobile app. All code is open source.</p>
    </div>

    <div class="main feature open image-left">
      <h3>hosting to get you started. No lock in, when you grow</h3>
      <i class="icon-open"></i>
      <p>We can help you get started quickly with free buddycloud hosting. And when you grow, help you scale up or <a href="/install">host your own buddycloud site</a>using the same open source software. 100% lock in free.</p>
    </div>

    <div class="main feature privacy image-right">
      <h3>buddycloud: security by default</h3>
      <i class="icon-privacy"></i>
      <ul>
        <li>buddycloud uses TLS for client to server encryption.</li>
        <li>buddycloud uses SSL to ensure communication between servers is encrypted.</li>
        <li>buddycloud users create private or open spaces (channels) to share content.</li>
        <li>You always control how data on your buddycloud site is shared with the wider world.</li>
      </ul>
    </div>

    <div class="main feature media image-left">
      <h3>Share everything</h3>
      <i class="icon-media"></i>
      <p>Films files photos, anything! buddycloud lets you securely share files securely between users and groups.</p>
    </div>

    <div class="main feature image-right">
      <h3>buddycloud RESTful API and libraries</h3>
      <p>Quickly build your own buddycloud client with a <a href="https://github.com/buddycloud/buddycloudjs/">drop-in Javascript library</a>.</p>
 
        <pre class="prettyprint">// get subscribers from bccc@topics.pouet.im
// (curl https://api.buddycloud.org/bccc@topics.pouet.im/subscribers/posts)
buddycloud.Channel('bccc@topics.pouet.im').subscribers();

{
"schnouki@pouet.im": "owner",
"lancestout@buddycloud.org": "publisher",
"james@buddycloud.org": "publisher",
"simon@imaginator.com": "publisher"
}</pre>
    </div>

    <div class="main feature run image-left">
      <h3>Push notifications and mobile integration</h3>
      <i class="icon-run"></i>
      <p>buddycloud includes a <a href="https://github.com/buddycloud/buddycloud-pusher">push notification server</a> that will fire off push notifications to mobile clients making it easy to integrate your app messaging with mobile gateways.</p>
    </div>

    <div class="main feature community image-right">
      <h3>Join a helpful community</h3>
      <i class="icon-community"></i>
      <p>We know that changing the world is difficult. If you get stuck, we're a pretty helpful and enthusiastic bunch. And are here to help you.</p>
      <p>Ask for help on the <a href="https://groups.google.com/forum/#!forum/buddycloud-dev">dev list</a>,
          the <a href="https://jappix.com/?r=seehaus@channels.buddycloud.com">chat room</a> or
          in the <a href="https://demo.buddycloud.org/team@topics.buddycloud.org">buddycloud team channel</a>.</p>
    </div>

    <div class="main feature commercial image-left">
      <h3>Commercial licensing and support</h3>
      <i class="icon-commercial"></i>

      <p>Sometimes spinning up a large buddycloud deployment needs a little extra help. We want to see buddycloud deployed everywhere and we've got you covered.</p>
      <p>We provide ongoing support to corporations, telcos, and software houses to help them keep their buddycloud servers running smoothly.</p>
      <p>buddycloud also provides consulting. For example, we can help with scaling a telco's buddycloud software stack to the multi-million simultaneous-user level.</p>
    </div>

    <!-- buddycloud engines -->
    <div class="feature social-engines grid-2 clearfix">
      <h3 class="headline">Social Engines</h3>

      <div class="feature channels grid-1">
        <h3>Recommendation engine</h3>
        <p>If you like the buddycloud channel <code>food@foo.com</code> then might be interested in <code>omnomnom@bar.com</code>. The buddycloud crawler also ships with a nice API that helps your users find great content.</p>
        <p><a href="https://buddycloud.org/wiki/channel_directory_project">Learn more</a></p>
      </div>

      <div class="feature privacy grid-1 last">
        <h3>Realtime search engine</h3>
        <p>Find channels or specific posts. Fast. Public content on buddycloud is quickly indexed and searchable and accessible via a standardised API and firehose feed.</p>
        <p><a href="https://buddycloud.org/wiki/channel_directory_project">Learn more</a></p>
      </div>

      <div class="feature sharing grid-1">
        <h3>Social discovery engine</h3>
        <p>
         The buddycloud contact matcher helps your users find their friends on other social networks. The contact matcher uses hashes of user-identifiers: for example Twitter or Facebook account IDs. This extends buddycloud's usefulness to existing circles of friends.</p>
        <p><a href="https://buddycloud.org/wiki/contact_matching">Learn More</a></p>
      </div>

      <div class="feature mobile grid-1 last">
        <h3>Push notification engine</h3>
        <p>The buddycloud <i>pusher</i> sends mobile push notifications via iOS or Android and can also trigger emails when things happen inside buddycloud. For example, a follow request could trigger an email and alert on your phone. The alerts that get sent are completely customisable by users. The pusher also integrates with the existing buddycloud APIs.</p>
        <p><a href="https://buddycloud.org/wiki/email_and_push">Learn More</a></p>
      </div>
    </div>
  </div>
</section>
<!-- end of features section -->
