<div class="fixedHeader" style="display: none">
  <div class="container">
  </div>
</div>

<!-- first section (header) -->
<section id="home" class="primarySection">
  <div class="blur"></div>
  <div class="container">
    <header class="clearfix">
      <h1><a class="scrollTo" href="#home">buddycloud</a></h1>

      <nav>
        <a class="scrollTo features-nav" href="#features">features</a>
        <a class="scrollTo examples-nav" href="#examples">example uses</a>
        <a class="scrollTo friends-nav" href="#friends">friends</a>
        <a class="scrollTo contact-nav" href="#contact">contact us</a>
        <a href="http://blog.buddycloud.com" target="_blank">blog</a>
      </nav>
    </header>

    <div class="hero">
      <h2>build the personal cloud</h2>
      <p class="description">
        <span>distributed by design, buddycloud has pioneered a set of tools, open source software and protocols to help you build a completely new kind of social network.<br /></span>

        <a href="https://demo.buddycloud.org/" target="_blank" class="callForAction red">Try demo</a>
        <a href="https://buddycloud.org/wiki/Install" target="_blank" class="callForAction green">Install</a>
      </p>
    </div>

    <div class="screenshots">
      <img src="img/screenshots/anon.jpg" width="600" height="450" alt="Anon" />
      <img src="img/screenshots/explore.jpg" alt="Explore" style="display: none; width: 600px; height: 450px" />
      <img src="img/screenshots/private-channels.jpg" alt="Private channel" style="display: none; width: 600px; height: 450px" />
      <img src="img/screenshots/preferences.jpg" alt="Preferences" style="display: none; width: 600px; height: 450px" />
      <img src="img/screenshots/search.jpg" alt="Search" style="display: none; width: 600px; height: 450px" />
      <img src="img/screenshots/single-post.jpg" alt="Single post" style="display: none; width: 600px; height: 450px" />
      <img src="img/screenshots/stream-expanded.jpg" alt="Stream expanded" style="display: none; width: 600px; height: 450px" />
      <img src="img/screenshots/stream-closed.jpg" alt="Stream closed" style="display: none; width: 600px; height: 450px" />
    </div>
  </div>
</section>
<!-- end first section (header) -->