<!-- try again section -->
<section class="try-again secondarySection">
  <div class="container clearfix">
    <a href="https://demo.buddycloud.org/" target="_blank" class="callForAction red">Try demo</a>
    <a href="https://buddycloud.org/wiki/Install" target="_blank" class="callForAction green">Install</a>
  </div>
</section>
<!-- end of try again section -->