/* line 5, ../../sass/site.scss */
dd {
  margin-bottom: .5em;
}

/* line 9, ../../sass/site.scss */
.contact-page dd {
  margin-bottom: .875em;
}

/* line 15, ../../sass/site.scss */
.contact a {
  display: block;
  float: left;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  background-color: #2DAEBF;
  text-indent: -999em;
  border-radius: 0.25em;
  background-size: cover;
  background-image: url("../img/contact/twitter.svg");
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
/* line 28, ../../sass/site.scss */
.contact a:hover {
  background-color: #333;
}
/* line 33, ../../sass/site.scss */
.contact .blog {
  background-image: url("../img/contact/blog.svg");
}
/* line 37, ../../sass/site.scss */
.contact .email {
  background-image: url("../img/contact/email.svg");
}
/* line 41, ../../sass/site.scss */
.contact .twitter {
  background-image: url("../img/contact/twitter.svg");
}
/* line 45, ../../sass/site.scss */
.contact .linkedin {
  background-image: url("../img/contact/linkedin.svg");
}
/* line 49, ../../sass/site.scss */
.contact .github {
  background-image: url("../img/contact/github.svg");
}
/* line 53, ../../sass/site.scss */
.contact .buddycloud {
  background-image: url("../img/contact/buddycloud.svg");
}
/* line 57, ../../sass/site.scss */
.contact .googleplus {
  background-image: url("../img/contact/googleplus.svg");
}
