/* line 1, ../../sass/_general.scss */
dd {
  margin-bottom: .5em;
}

/* line 3, ../../sass/_home.scss */
.contact a {
  display: block;
  float: left;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  background-color: #2DAEBF;
  text-indent: -999em;
  border-radius: 0.25em;
  background-size: cover;
  background-image: url("../img/contact/twitter.svg");
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
/* line 16, ../../sass/_home.scss */
.contact a:hover {
  background-color: #333;
}
/* line 21, ../../sass/_home.scss */
.contact .blog {
  background-image: url("../img/contact/blog.svg");
}
/* line 25, ../../sass/_home.scss */
.contact .email {
  background-image: url("../img/contact/email.svg");
}
/* line 29, ../../sass/_home.scss */
.contact .twitter {
  background-image: url("../img/contact/twitter.svg");
}
/* line 33, ../../sass/_home.scss */
.contact .linkedin {
  background-image: url("../img/contact/linkedin.svg");
}
/* line 37, ../../sass/_home.scss */
.contact .github {
  background-image: url("../img/contact/github.svg");
}
/* line 41, ../../sass/_home.scss */
.contact .buddycloud {
  background-image: url("../img/contact/buddycloud.svg");
}
/* line 45, ../../sass/_home.scss */
.contact .googleplus {
  background-image: url("../img/contact/googleplus.svg");
}

/* line 1, ../../sass/_contact.scss */
.contact-page dd {
  margin-bottom: .875em;
}

/* line 1, ../../sass/_diagrams.scss */
.js_sequence_diagram {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 7, ../../sass/_diagrams.scss */
rect[fill=none] {
  stroke-width: 2px;
}

/* line 11, ../../sass/_diagrams.scss */
.seq-diag-primary {
  stroke: #2DAEBF;
  fill: #2DAEBF;
}

/* line 16, ../../sass/_diagrams.scss */
.seq-diag-secondary {
  stroke: #A6A6A6;
  fill: #A6A6A6;
}

/* line 21, ../../sass/_diagrams.scss */
rect[fill='#ffffff'] {
  opacity: 0;
  stroke-width: 2px;
}

/* line 26, ../../sass/_diagrams.scss */
path[class='seq-diag-primary'], path[class='seq-diag-secondary'] {
  stroke-width: 2.6px;
}

/* line 30, ../../sass/_diagrams.scss */
.seq-diag-primary tspan {
  font-family: 'Open Sans';
  font-weight: 600;
  fill: white;
  stroke: white;
  stroke-width: 0px;
  stroke-width: -0.4px;
}

/* line 39, ../../sass/_diagrams.scss */
.seq-diag-secondary tspan {
  font-family: 'Open Sans';
  fill: white;
  stroke: white;
  stroke-width: 0px;
}

/* line 47, ../../sass/_diagrams.scss */
.seq-diag-link,
.seq-diag-note {
  opacity: 0.5;
  stroke-opacity: 0.5;
}
/* line 51, ../../sass/_diagrams.scss */
.seq-diag-link tspan,
.seq-diag-note tspan {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
}
