/* line 7, ../../sass/site.scss */
.bs-example img {
  border: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
  /* line 13, ../../sass/site.scss */
  .bs-sidebar {
    padding-left: 0;
  }
}
/* line 20, ../../sass/site.scss */
.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
  color: #2daebf;
  border-left-color: transparent;
}
/* line 29, ../../sass/site.scss */
.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
  color: #2daebf;
  border-left-color: transparent;
}

/* line 39, ../../sass/site.scss */
.contact a {
  display: block;
  float: left;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  background-color: #2DAEBF;
  text-indent: -999em;
  border-radius: 0.25em;
  background-size: cover;
  background-image: url("../img/contact/twitter.svg");
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
/* line 52, ../../sass/site.scss */
.contact a:hover {
  background-color: #333;
}
/* line 57, ../../sass/site.scss */
.contact .blog {
  background-image: url("../img/contact/blog.svg");
}
/* line 61, ../../sass/site.scss */
.contact .email {
  background-image: url("../img/contact/email.svg");
}
/* line 65, ../../sass/site.scss */
.contact .twitter {
  background-image: url("../img/contact/twitter.svg");
}
/* line 69, ../../sass/site.scss */
.contact .linkedin {
  background-image: url("../img/contact/linkedin.svg");
}
/* line 73, ../../sass/site.scss */
.contact .github {
  background-image: url("../img/contact/github.svg");
}
/* line 77, ../../sass/site.scss */
.contact .buddycloud {
  background-image: url("../img/contact/buddycloud.svg");
}
/* line 81, ../../sass/site.scss */
.contact .googleplus {
  background-image: url("../img/contact/googleplus.svg");
}
