

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 1.5em;
}

a{
  color: #555;
  font-weight: bold;
}

#monster{
  height: 100px;
  position: relative;
  background: white;
  border-left: 1px solid #C4CED1;
  border-right: 1px solid #C4CED1;
  border-bottom: 1px solid #C4CED1;
  width: 930px;
  margin: auto;
}

#monster h1{
  line-height: 50px;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -1px;
  font-family: corbel, helvetica, sans-serif;
  color: #132B36;
  position: absolute;
  z-index: 1000;
  top: 40px;
  left: 30px;
}

h3{
  font-size: 1.2em;
  color: #555;
}

h2{
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #555;
}

h3{
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

#nav{
  /*
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f0f0f0), color-stop(0.8, #f0f0f0));
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 0 0 3px #333;
  width: 700px;
  height: 30px;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 200px;
  top: 50px;
  z-index: 1200;
  */

  width: 700px;
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 200px;
  top: 50px;
  z-index: 1200;
  
}

#nav li a{
  height: 30px;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(255,255,255,0.5);
  border-radius: 15px;
  color: #777;
}

#nav li a:hover{
  color: white;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f0f0f0), color-stop(0.8, #f0f0f0));
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 0 0 3px #333;
}

#nav li:nth-child(1) a:hover, #nav li:nth-child(1) a.active{
  background: #3093D3;
  background: -webkit-gradient(linear, left top, left bottom, from(#3093D3), to(#50b3f3), color-stop(0.8, #50b3f3));
}

#nav li:nth-child(2) a:hover{
  background: #E28C35;
  background: -webkit-gradient(linear, left top, left bottom, from(#E28C35), to(#f2aC55), color-stop(0.8, #f2aC55));
}

#nav li:nth-child(3) a:hover{
  background: #CD3C40;
  background: -webkit-gradient(linear, left top, left bottom, from(#CD3C40), to(#eD5C60), color-stop(0.8, #eD5C60));
}

#nav li:nth-child(4) a:hover{
  background: #83AC35;
  background: -webkit-gradient(linear, left top, left bottom, from(#83AC35), to(#a3cC55), color-stop(0.8, #a3cC55));
}


#nav li{
  position: relative;
  margin: 0;
  display: block;
  padding: 0;
  float: right;
  width: 120px;
  list-style: none;
  line-height: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

#nav li:last-child{
}

#nav li:first-child{
}

#main{
  margin-top: 40px;
  margin-bottom: 100px;
}

body{
  background: #f3f3f3;
}

.person h3{
  margin-bottom: 0;
}

.person{
  margin-bottom: 30px;
}

.person small{
  display: block;
  margin-bottom: 1em;
}

.person small a{
  color: #777;
}

.technologies h3{
  line-height: 30px;
  margin-bottom: 5px;
}

.small{
  font-size: 12px;
  line-height: 1.5em;
  color: #555;
}

.subnav{
  margin: 0 0 20px 0;
  padding: 0;
  border-top: 1px dotted #ccc;
}

.subnav li{
  display: block;
  margin: 0;
  padding: 0;
}

.subnav li a{
  border-bottom: 1px dotted #ccc;
  display: block;
  line-height: 30px;
  padding: 0 10px;
}

.intro{
  color: #555;
  font-weight: bold;
  text-shadow: 0 1px 1px white;
}

dl.vcard{
  width: 620px;
}

.vcard dt{
  color: #555;
  margin: 0;
  display: block;
  position: absolute;
}

.vcard dd{
  width: 400px;
  margin: 0 0 20px 100px;
  display: block;
  z-index: 1000;
}





.plans{
  width: 100%;
  border-spacing: 20px 0;
}

.plans td+td{
  background: white;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  margin-right: 30px;
  text-align: center;
}

.plans .names td+td{
  font-size: 1.2em;
  font-weight: bold;
  color: #777;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #e3e3e3;
}

.plans .order td+td{
  font-size: 1.2em;
  font-weight: bold;
  color: #777;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #e3e3e3;
}

.plans .order button{
  background: #3093D3;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 3px black;
  font: inherit;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  border-radius: 4px;
  padding: 5px 10px;
}