body {
	padding-top: 3em;
	padding-bottom: 0;
}

.navbar {
	box-shadow: 0 0 1em rgba(0,0,0,.5);
}


/* = = = = = = = = = = = = = = = = = = = = */
/* jumbotron */

.jumbotron {
	height: 32em;
	background-image: url('../img/home/background.jpg');
	background-position: center bottom;
	background-size: 275%;
	background-repeat: no-repeat;
	color: #fff;
	margin-bottom: 0;
}

.jumbotron h1 {
	text-align: center;
	font-size: 1.65em;
	line-height: 1.1;
	font-weight: 400;
	margin-top: 7em;
	text-shadow: 0 0 .2em rgba(0,0,0,.8);
}


/* = = = = = = = = = = = = = = = = = = = = */
/* Description */

#description {
	position: absolute;
	top: 35em;
	background-color: hsla(207,15%,10%,.7);
	margin: 0;
	left: 0;
	right: 0;
	padding: 1em;
	margin-bottom: -5em;
	-webkit-transform: translate(0,-100%);
	-moz-transform: translate(0,-100%);
	-ms-transform: translate(0,-100%);
	-o-transform: translate(0,-100%);
	transform: translate(0,-100%);
}

#description p {
	font-size: 1em;
	color: #fff;
	padding: 0;
	margin: 0;
	text-align: right;
}

#description p:first-child {
	text-align: left;
	margin-bottom: .5em;
	max-width: 40em;
}

#description div {
	text-align: center;
}

#description .btn {
	font-size: 1em;
	width: 100%;
	margin: 0;
	padding: .5em 0 0 0;
	border: none;
	background-color: #fff;
	cursor: pointer;
	border-radius: .5em;
	box-shadow: 0 0 1em rgba(0,0,0,.5);
	height: 2.5em;
}

#description .btn-primary {
	background-color: #2DAEBF;
	top: 7em;
	margin: 0 0 1em 0;
}

/* = = = = = = = = = = = = = = = = = = = = */
/* Features */

#features {
	background-color: #2DAEBF;
	color: #fff;
	font-weight: 400;
	padding-bottom: 2em;
}

#features h2 {
	font-weight: 600;
	border: none;
	margin: 1em 0 .5em 0;
}

#features p {
	font-weight: 400;
}

#features p a {
	color: #fff;
	font-weight: 600;
}

/* = = = = = = = = = = = = = = = = = = = = */
/* Friends */

#friends {
	background-color: #E5E9EF;
	color: #666;
	padding: 1em 1em 2em 1em;
}

#friends p {
	margin: 0;
	font-weight: 500;
}

#friends div {
	background-image: url('../img/friends/friends_01.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 16em;
	margin-right: 2em;
	opacity: .7;
}


/* = = = = = = = = = = = = = = = = = = = = */
/* Contact */

#contact {
	background-color: #38434C;
	color: #fff;
	font-weight: 400;
	padding-bottom: 5em;
}

#contact ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 2;
}

#contact a {
	color: #fff;
}



@media (min-width: 420px) {
	.jumbotron {
		height: 32em;
		background-position: center;
		background-size: cover;
	}

	.jumbotron h1 {
		font-size: 2em;
		margin-top: 8em;
		font-weight: 300;
	}

	#description div {
		text-align: right;
	}

	#friends div {
		background-image: url('../img/friends/friends_02.png');
		height: 8em;
	}
	
	#description .btn {
		width: 10em;
	}

	#description .btn-primary {
		margin: 0 1em 0 0;
	}

}

@media (min-width: 768px) {
	.jumbotron {
		height: 32em;
	}

	.jumbotron h1 {
		font-size: 3em;
		margin-top: 5em;
	}

	#description,
	#friends,
	#contact {
		padding-left: 6em;
	}

	#description p {
		font-size: 1.25em;
	}

	#features {
		padding-left: 6em;
	}

	#friends div {
		background-image: url('../img/friends/friends_04.png');
		height: 6em;
	}
}

@media (min-width: 992px) {
	.jumbotron h1 {
		font-size: 3.5em;
		margin-top: 4em;
	}
}

@media (min-width: 1200px) {
	.jumbotron h1 {
		margin-top: 3.5em;
		font-size: 4em;
	}
}