---
title: buddycloud install
---
<section class="primarySection">
	<div class="container">
		<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
			<h2>
				<span class="mw-headline" id="Install_Requirements">Install Requirements</span>
			</h2>
			<ul>
				<li>
					a server with an internet routable IP address (other
					<a href="/wiki/buddycloud_hosting_options" title="buddycloud hosting options">buddycloud hosting options</a>
					)
				</li>
				<li>a domain name (the instructions assume EXAMPLE.COM)</li>
				<li>the ability to edit your DNS</li>
				<li>Ubuntu ≥ 12.04 (LTS)</li>
			</ul>
			<h2>
				<span class="mw-headline" id="Getting_help">Getting help</span>
			</h2>
			<p>Please ask if you get stuck</p>
			<ul>
				<li>
					chatroom:
					<a rel="nofollow" class="external free" href="https://jappix.com/?r=seehaus@channels.buddycloud.com">https://jappix.com/?r=seehaus@channels.buddycloud.com</a>
				</li>
				<li>
					mailing list:
					<a rel="nofollow" class="external free" href="https://groups.google.com/forum/#!forum/buddycloud-dev">https://groups.google.com/forum/#!forum/buddycloud-dev</a>
				</li>
				<li>
					<a href="/wiki/How_to_report_bugs" title="How to report bugs" class="mw-redirect">How to report bugs</a>
				</li>
			</ul>
			<h2>
				<span class="mw-headline" id="buddycloud_DNS">buddycloud DNS</span>
			</h2>
			<p>
				<span style="color:green">
					Estimated time: <b>10 mins</b>
				</span>
			</p>
			<h3>
				<span class="mw-headline" id="Aim">Aim</span>
			</h3>
			<ul>
				<li>
					website for buddycloud channels:
					<a rel="nofollow" class="external free" href="http://buddycloud.EXAMPLE.COM">http://buddycloud.EXAMPLE.COM</a>
				</li>
				<li>server running buddycloud: buddycloud.EXAMPLE.COM</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Configure">Configure</span>
			</h3>
			<p>
				This install will setup a buddycloud webclient at
				<a rel="nofollow" class="external free" href="http://buddycloud.EXAMPLE.COM">http://buddycloud.EXAMPLE.COM</a>
			</p>
			<p>
				Log into your registrar or edit your DNS zone file (at Godaddy this is called the DNS Manager). In this example we use 1.2.3.4 as your server address. Creating a
				<a rel="nofollow" class="external text" href="https://support.google.com/a/bin/topic.py?hl=en&amp;topic=1409901">TXT record</a>
				.
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="text source-text">
					<% code("bash") do %>
					buddycloud.EXAMPLE.COM.                    IN A            1.2.3.4 # SRV records must point to A records
					_xmpp-server._tcp.EXAMPLE.COM.             IN SRV 5 0 5269 buddycloud.EXAMPLE.COM. # XMPP Server
					_xmpp-client._tcp.EXAMPLE.COM.             IN SRV 5 0 5222 buddycloud.EXAMPLE.COM. # XMPP client connections
					_xmpp-server._tcp.anon.EXAMPLE.COM.        IN SRV 5 0 5269 buddycloud.EXAMPLE.COM. # XMPP Server anonymous connections
					_xmpp-client._tcp.anon.EXAMPLE.COM.        IN SRV 5 0 5222 buddycloud.EXAMPLE.COM. # XMPP anonymous client connections
					_xmpp-server._tcp.media.EXAMPLE.COM.       IN SRV 5 0 5269 buddycloud.EXAMPLE.COM. # Media Server XMPP component
					_xmpp-server._tcp.buddycloud.EXAMPLE.COM.  IN SRV 5 0 5269 buddycloud.EXAMPLE.COM. # buddycloud Server XMPP component
					_buddycloud-api._tcp.EXAMPLE.COM.          IN TXT "v=1.0" "host=buddycloud.EXAMPLE.COM" "protocol=https" "path=/api" "port=443" # HTTP API
					<% end %>
			</div>
			</div>
			<h3>
				<span class="mw-headline" id="Test">Test</span>
			</h3>
			<p>
				Test your DNS on
				<a rel="nofollow" class="external free" href="http://protocol.buddycloud.com/EXAMPLE.COM">http://protocol.buddycloud.com/EXAMPLE.COM</a>
			</p>
			<p>
				(replace
				<code>EXAMPLE.COM</code>
				by your actual domain)
			</p>
			<p>
				<br>The following tests must pass:</p>
			<ul>
				<li>
					<code>xmpp_server_srv_lookup</code>
				</li>
				<li>
					<code>xmpp_server_anon_srv_lookup</code>
				</li>
				<li>
					<code>xmpp_client_srv_lookup</code>
				</li>
				<li>
					<code>xmpp_client_anon_srv_lookup</code>
				</li>
				<li>
					<code>xmpp_server_a_lookup</code>
				</li>
			</ul>
			<h2>
				<span class="mw-headline" id="Firewall_Setup">Firewall Setup</span>
			</h2>
			<p>
				<span style="color:green">
					Estimated time: <b>2 mins</b>
				</span>
			</p>
			<p>
				Double check your firewall rules. They should look something like this:
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="co0"># inbound web, server to server and outbound server to server</span>
iptables <span class="re5">-A</span> INPUT  <span class="re5">-m</span> state <span class="re5">--state</span> NEW <span class="re5">-s</span> 0.0.0.0<span class="sy0">/</span><span class="nu0">0</span> <span class="re5">-d</span> <span class="sy0">&lt;</span>your server address<span class="sy0">&gt;</span> <span class="re5">-p</span> tcp <span class="re5">--dport</span> <span class="nu0">80</span>   <span class="re5">-j</span> ACCEPT 
iptables <span class="re5">-A</span> INPUT  <span class="re5">-m</span> state <span class="re5">--state</span> NEW <span class="re5">-s</span> 0.0.0.0<span class="sy0">/</span><span class="nu0">0</span> <span class="re5">-d</span> <span class="sy0">&lt;</span>your server address<span class="sy0">&gt;</span> <span class="re5">-p</span> tcp <span class="re5">--dport</span> <span class="nu0">443</span>  <span class="re5">-j</span> ACCEPT 
iptables <span class="re5">-A</span> INPUT  <span class="re5">-m</span> state <span class="re5">--state</span> NEW <span class="re5">-s</span> 0.0.0.0<span class="sy0">/</span><span class="nu0">0</span> <span class="re5">-d</span> <span class="sy0">&lt;</span>your server address<span class="sy0">&gt;</span> <span class="re5">-p</span> tcp <span class="re5">--dport</span> <span class="nu0">5269</span> <span class="re5">-j</span> ACCEPT
iptables <span class="re5">-A</span> OUTPUT <span class="re5">-m</span> state <span class="re5">--state</span> NEW <span class="re5">-s</span> <span class="sy0">&lt;</span>your server address<span class="sy0">&gt;</span> <span class="re5">-d</span> 0.0.0.0<span class="sy0">/</span><span class="nu0">0</span> <span class="re5">-p</span> tcp <span class="re5">--dport</span> <span class="nu0">5269</span> <span class="re5">-j</span> ACCEPT</pre>
				</div>
			</div>
			<h2>
				<span class="mw-headline" id="Prosody_Setup">Prosody Setup</span>
			</h2>
			<p>
				<span style="color:green">
					Estimated time:
					<b>10 mins</b>
				</span>
			</p>
			<ul>
				<li>
					alternative:
					<a href="/wiki/Installing_buddycloud_on_ejabberd" title="Installing buddycloud on ejabberd">Installing buddycloud on ejabberd</a>
				</li>
				<li>
					alternative:
					<a rel="nofollow" class="external text" href="http://prosody.im/doc/install">official Prosody install guide</a>
					(good for older distributions)
				</li>
				<li>
					alternative: Prosody with
					<a href="/wiki/LDAP_authentication" title="LDAP authentication">LDAP authentication</a>
				</li>
				<li>
					alternative:
					<a href="/wiki/Installing_buddycloud_on_openfire" title="Installing buddycloud on openfire">Installing buddycloud on openfire</a>
				</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Install">Install</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw2">apt-get install</span> prosody lua-zlib liblua5.1-cyrussasl0</pre>
				</div>
			</div>
			<p>
				You might need to tell where those Prosody dependencies are. If that's the case, you can do the following:
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw3">echo</span> deb http:<span class="sy0">//</span>packages.prosody.im<span class="sy0">/</span>debian $<span class="br0">(</span>lsb_release -sc<span class="br0">)</span> main <span class="sy0">|</span> <span class="kw2">sudo</span> <span class="kw2">tee</span> <span class="re5">-a</span> <span class="sy0">/</span>etc<span class="sy0">/</span>apt<span class="sy0">/</span>sources.list
<span class="kw2">wget</span> http:<span class="sy0">//</span>prosody.im<span class="sy0">/</span>files<span class="sy0">/</span>prosody-debian-packages.key <span class="re5">-O-</span> <span class="sy0">|</span> <span class="kw2">sudo</span> <span class="kw2">apt-key add</span> -
<span class="kw2">sudo</span> <span class="kw2">apt-get update</span></pre>
				</div>
			</div>
			<p>
				More information on what's you'd be doing on the steps above here:
				<a rel="nofollow" class="external free" href="http://prosody.im/download/package_repository#debianubuntu">http://prosody.im/download/package_repository#debianubuntu</a>
			</p>
			<h3>
				<span class="mw-headline" id="Configure_Prosody">Configure Prosody</span>
			</h3>
			<p>
				Edit
				<code>/etc/prosody/prosody.cfg.lua</code>
				:
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="lua source-lua">
					<pre class="de1">modules_enabled <span class="sy0">=</span> <span class="br0">{</span>
	<span class="st0">"saslauth"</span><span class="sy0">;</span>           <span class="co1">-- Authentication for clients and servers. Recommended if you want to log in.</span>
	<span class="st0">"tls"</span><span class="sy0">;</span>                <span class="co1">-- Add support for secure TLS on c2s/s2s connections</span>
	<span class="st0">"dialback"</span><span class="sy0">;</span>           <span class="co1">-- s2s dialback support</span>
	<span class="st0">"disco"</span><span class="sy0">;</span>              <span class="co1">-- Service discovery</span>
	<span class="st0">"time"</span><span class="sy0">;</span>               <span class="co1">-- Let others know the time here on this server</span>
	<span class="st0">"ping"</span><span class="sy0">;</span>               <span class="co1">-- Replies to XMPP pings with pongs</span>
	<span class="st0">"posix"</span><span class="sy0">;</span>              <span class="co1">-- Do posixy things</span>
	<span class="st0">"register"</span><span class="sy0">;</span>           <span class="co1">-- Allow users to register on this server using a client and change passwords</span>
	<span class="st0">"watchregistrations"</span><span class="sy0">;</span> <span class="co1">-- Alert admins of registrations (check "admins" option below too)</span>
	<span class="st0">"compression"</span><span class="sy0">;</span>        <span class="co1">-- Enable mod_compression</span>
<span class="br0">}</span><span class="sy0">;</span>
&nbsp;
storage                 <span class="sy0">=</span> <span class="st0">"internal"</span>
admins                  <span class="sy0">=</span> <span class="br0">{</span> <span class="st0">"your-username@EXAMPLE.COM"</span> <span class="br0">}</span>  <span class="co1">-- who receives registration alerts</span>
pidfile                 <span class="sy0">=</span> <span class="st0">"/var/run/prosody/prosody.pid"</span>
<span class="kw3">log</span>                     <span class="sy0">=</span> <span class="br0">{</span><span class="br0">{</span> levels <span class="sy0">=</span> <span class="br0">{</span> <span class="kw3">min</span> <span class="sy0">=</span> <span class="st0">"error"</span> <span class="br0">}</span><span class="sy0">,</span> to <span class="sy0">=</span> <span class="st0">"file"</span><span class="sy0">,</span> filename <span class="sy0">=</span> <span class="st0">"/var/log/prosody/prosody.err"</span> <span class="br0">}</span><span class="sy0">;</span>
													 <span class="br0">{</span> levels <span class="sy0">=</span> <span class="br0">{</span> <span class="kw3">min</span> <span class="sy0">=</span> <span class="st0">"info"</span>  <span class="br0">}</span><span class="sy0">,</span> to <span class="sy0">=</span> <span class="st0">"file"</span><span class="sy0">,</span> filename <span class="sy0">=</span> <span class="st0">"/var/log/prosody/prosody.log"</span> <span class="br0">}</span><span class="sy0">;</span><span class="br0">}</span>
registration_whitelist      <span class="sy0">=</span> <span class="br0">{</span> <span class="st0">"127.0.0.1"</span> <span class="br0">}</span>
whitelist_registration_only <span class="sy0">=</span> <span class="kw4">true</span>
&nbsp;
&nbsp;
VirtualHost <span class="st0">"EXAMPLE.COM"</span>
	authentication        <span class="sy0">=</span> <span class="st0">"internal_hashed"</span>
	allow_registration    <span class="sy0">=</span> <span class="kw4">true</span> 
	anonymous_login       <span class="sy0">=</span> <span class="kw4">false</span>
	ssl                   <span class="sy0">=</span> <span class="br0">{</span>         key <span class="sy0">=</span> <span class="st0">"/etc/apache2/certs/EXAMPLE.COM.key"</span><span class="sy0">;</span>
														certificate <span class="sy0">=</span> <span class="st0">"/etc/apache2/certs/EXAMPLE.COM.pem"</span> <span class="br0">}</span>
&nbsp;
<span class="co1">-- for non-logged in browsing of open channels.</span>
VirtualHost <span class="st0">"anon.EXAMPLE.COM"</span>
	authentication        <span class="sy0">=</span> <span class="st0">"anonymous"</span>
	allow_registration    <span class="sy0">=</span> <span class="kw4">false</span>
	anonymous_login       <span class="sy0">=</span> <span class="kw4">true</span>
&nbsp;
<span class="co1">-- buddycloud Channel Server XMPP component configuration.</span>
Component <span class="st0">"buddycloud.EXAMPLE.COM"</span>
	component_secret      <span class="sy0">=</span> <span class="st0">"tellnoone"</span>
&nbsp;
<span class="co1">-- buddycloud Media Server XMPP component configuration.</span>
Component <span class="st0">"media.EXAMPLE.COM"</span>
	component_secret      <span class="sy0">=</span> <span class="st0">"tellnoone"</span>
&nbsp;
<span class="co1">-- buddycloud Pusher Server XMPP component configuration.</span>
Component <span class="st0">"pusher.EXAMPLE.COM"</span>
	component_secret      <span class="sy0">=</span> <span class="st0">"tellnoone"</span></pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Restart_Prosody">Restart Prosody</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>prosody restart</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Test_2">Test</span>
			</h3>
			<p>
				Check your server is visible on
				<a rel="nofollow" class="external free" href="http://protocol.buddycloud.com/EXAMPLE.COM">http://protocol.buddycloud.com/EXAMPLE.COM</a>
			</p>
			<p>
				(replace
				<code>EXAMPLE.COM</code>
				by your actual domain)
			</p>
			<p>
				<br>
				Besides the previous 5 SRV and A record lookup tests, the following test must pass as well:
			</p>
			<ul>
				<li>
					<code>xmpp_server_connection</code>
				</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Debug">Debug</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw2">tail</span> <span class="re5">-F</span> <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>prosody<span class="sy0">/</span>prosody.err \
				<span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>prosody<span class="sy0">/</span>prosody.log</pre>
				</div>
			</div>
			<h2>
				<span class="mw-headline" id="buddycloud_Server">buddycloud Server</span>
			</h2>
			<p>
				<span style="color:green">
					Estimated time:
					<b>5 mins</b>
				</span>
			</p>
			<ul>
				<li>
					Alternative:
					<a href="/wiki/Install_Java_channel_server" title="Install Java channel server">Install Java channel server</a>
				</li>
				<li>
					Alternative:
					<a href="/wiki/Install_node.js_channel_server" title="Install node.js channel server">Install node.js channel server</a>
					(out of support)
				</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Install_2">Install</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="co0"># install dependencies</span>
<span class="kw2">apt-get install</span> postgresql postgresql-client postgresql-contrib openjdk-<span class="nu0">6</span>-jre
<span class="co0"># Download package from http://downloads.buddycloud.com/packages/debian/nightly/buddycloud-server-java/</span>
<span class="kw2">dpkg</span> <span class="re5">-i</span> buddycloud-server-java<span class="sy0">*</span>.deb</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Configure_server">Configure server</span>
			</h3>
			<p>
				Edit
				<code>/etc/buddycloud-server-java/configuration.properties</code>
				.
			</p>
			<ul>
				<li>change EXAMPLE.COM to match your domain</li>
				<li>double check the database connection strings</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Start_server">Start server</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>buddycloud-server-java start</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Test_3">Test</span>
			</h3>
			<p>
				Check the buddycloud server is discoverable using
				<a rel="nofollow" class="external free" href="http://protocol.buddycloud.com">http://protocol.buddycloud.com</a>
				(should pass
				<code>buddycloud_server_disco</code>
				test)
			</p>
			<h3>
				<span class="mw-headline" id="Debug_2">Debug</span>
			</h3>
			<p>check logs</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw2">tail</span> <span class="re5">-F</span> <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>buddycloud-server-java<span class="sy0">/</span>log</pre>
				</div>
			</div>
			<p>
				Test the database is installed (password is in
				<code>/etc/buddycloud-server-java/configuration.properties</code>
				)
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1">psql <span class="re5">-h</span> 127.0.0.1 <span class="re5">--username</span> buddycloudserver <span class="re5">-d</span> buddycloudserver <span class="re5">-c</span> <span class="st0">"select * from nodes;"</span>
node
<span class="re5">------</span>
<span class="br0">(</span><span class="nu0">0</span> rows<span class="br0">)</span>
<span class="co0"># this means that your buddycloud server database schema been installed successfully.</span></pre>
				</div>
			</div>
			<h2>
				<span class="mw-headline" id="buddycloud_API_Server">buddycloud API Server</span>
			</h2>
			<p>
				<span style="color:green">
					Estimated time:
					<b>6 mins</b>
				</span>
			</p>
			<ul>
				<li>
					Alternative:
					<a href="/w/index.php?title=Install_from_source&amp;action=edit&amp;redlink=1" class="new" title="Install from source (page does not exist)">Install from source</a>
				</li>
			</ul>
			<p> <i>Note: SSL and API requests: Chrome and Firefox will
					<b>not</b>
					work with self signed certificates when used for API calls. Ordinarily you would receive a certificate warning. But for API requests, this does not happen and requests are silently drop.</i> 
				You have two options:
			</p>
			<ul>
				<li>run without SSL on your API server, or</li>
				<li>get a signed certificate</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Install_3">Install</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw2">apt-get install</span> software-properties-common python-software-properties; <span class="co0">#needed for PPA access</span>
add-apt-repository ppa:chris-lea<span class="sy0">/</span>node.js-legacy <span class="co0"># to retrieve the correct nodejs version</span>
<span class="kw2">apt-get update</span>
<span class="kw2">apt-get install</span> nodejs apache2 apache2.2-common
&nbsp;
<span class="co0"># ensure you have the correct modules enabled in Apache</span>
a2enmod rewrite proxy_http ssl headers expires deflate
service apache2 reload
<span class="co0"># Download from http://downloads.buddycloud.com/packages/debian/nightly/buddycloud-http-api/</span>
<span class="kw2">dpkg</span> <span class="re5">-i</span> buddycloud-http-api<span class="sy0">*</span>.deb;</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Configure_Server_2">Configure Server</span>
			</h3>
			<p>
				Edit
				<code>/etc/buddycloud-http-api/config.js</code>
				to use your domain.
			</p>
			<h3>
				<span class="mw-headline" id="Restart_Server">Restart Server</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>buddycloud-http-api start</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Add_site_to_Apache">Add site to Apache</span>
			</h3>
			<p>
				We recommend the usage of a HTTP server in order to make the API publicly available. As we are using Apache to serve the webclient, we use the same site to redirect requests to the API. Thus, if you run the webclient from EXAMPLE.com, the API will be run from EXAMPLE.com/api.
			</p>
			<p>
				Please refer to
				<a href="/wiki/buddycloud_Apache_virtual_host_setup" title="buddycloud Apache virtual host setup">buddycloud Apache virtual host setup</a>
				for site setup, then
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1">a2ensite buddycloud-apache-virtual-host
<span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>apache2 reload</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Test_4">Test</span>
			</h3>
			<p>
				Check your buddycloud API server is discoverable on
				<a rel="nofollow" class="external free" href="http://protocol.buddycloud.com/EXAMPLE.COM">http://protocol.buddycloud.com/EXAMPLE.COM</a>
			</p>
			<p>(replace EXAMPLE.COM by your actual domain)</p>
			<p>
				<br>The following tests must pass:</p>
			<ul>
				<li>
					<code>api_server_lookup</code>
				</li>
				<li>
					<code>api_server_connection</code>
				</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Debug_3">Debug</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1">node <span class="re5">--version</span> <span class="co0"># The buddycloud API requires nodejs 0.8.*</span>
<span class="kw2">tail</span> <span class="re5">-F</span> <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>buddycloud-http-api<span class="sy0">/</span>buddycloud-http-api.log</pre>
				</div>
			</div>
			<h2>
				<span class="mw-headline" id="buddycloud_Webclient">buddycloud Webclient</span>
			</h2>
			<p>
				<span style="color:green">
					Estimated time:
					<b>5 mins</b>
				</span>
			</p>
			<ul>
				<li>
					Alternative:
					<a href="/wiki/buddycloud_Apache_virtual_host_setup" title="buddycloud Apache virtual host setup">buddycloud Apache virtual host setup</a>
				</li>
				<li>
					Alternative:
					<a href="/wiki/buddycloud_nginx_setup" title="buddycloud nginx setup">buddycloud nginx setup</a>
				</li>
				<li>
					Alternative:
					<a href="/wiki/buddycloud_lighttpd_setup" title="buddycloud lighttpd setup">buddycloud lighttpd setup</a>
				</li>
				<li>
					Alternative:
					<a href="/wiki/buddycloud_SSL_setup" title="buddycloud SSL setup">buddycloud SSL setup</a>
				</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Install_4">Install</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="co0"># Download from http://downloads.buddycloud.com/packages/debian/releases/buddycloud-webclient/ </span>
<span class="kw2">dpkg</span> <span class="re5">-i</span> buddycloud-webclient<span class="sy0">*</span>.deb;</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Configure_2">Configure</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw2">vim</span> <span class="sy0">/</span>etc<span class="sy0">/</span>apache2<span class="sy0">/</span>sites-available<span class="sy0">/</span>buddycloud-apache-virtual-host
<span class="kw2">cp</span> <span class="sy0">/</span>usr<span class="sy0">/</span>share<span class="sy0">/</span>buddycloud-webclient<span class="sy0">/</span>config.js.example <span class="sy0">/</span>usr<span class="sy0">/</span>share<span class="sy0">/</span>buddycloud-webclient<span class="sy0">/</span>config.js
<span class="kw2">vim</span> <span class="sy0">/</span>usr<span class="sy0">/</span>share<span class="sy0">/</span>buddycloud-webclient<span class="sy0">/</span>config.js
a2ensite buddycloud-apache-virtual-host
service apache2 reload</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Test_5">Test</span>
			</h3>
			<ul>
				<li>
					<a rel="nofollow" class="external text" href="https://www.ssllabs.com/ssltest/index.html">check your SSL setup</a>
				</li>
				<li>
					open
					<code><a rel="nofollow" class="external free" href="https://EXAMPLE.COM/">https://EXAMPLE.COM/</a></code>
					in your browser: you should see the login screen
				</li>
				<li>
					open
					<code><a rel="nofollow" class="external free" href="https://EXAMPLE.COM/team@topics.buddycloud.org">https://EXAMPLE.COM/team@topics.buddycloud.org</a></code>
					in your browser: you should see an open channel displayed
				</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Debug_4">Debug</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw2">tail</span> <span class="re5">-F</span> <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>apache2<span class="sy0">/</span>EXAMPLE.COM-error.log \ 
				<span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>apache2<span class="sy0">/</span>EXAMPLE.COM-error.log \
				<span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>apache2<span class="sy0">/</span>api.EXAMPLE.COM-error.log \
				<span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>apache2<span class="sy0">/</span>api.EXAMPLE.COM-error.log</pre>
				</div>
			</div>
			<h2>
				<span class="mw-headline" id="buddycloud_Pusher">buddycloud Pusher</span>
			</h2>
			<p>
				<span style="color:green">
					Estimated time:
					<b>5 mins</b>
				</span>
			</p>
			<h3>
				<span class="mw-headline" id="Install_5">Install</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="co0"># Download from http://downloads.buddycloud.com/packages/debian/ </span>
<span class="kw2">wget</span> http:<span class="sy0">//</span>downloads.buddycloud.com<span class="sy0">/</span>packages<span class="sy0">/</span>debian<span class="sy0">/</span>nightly<span class="sy0">/</span>buddycloud-pusher<span class="sy0">/</span>buddycloud-pusher-<span class="re1">$LATEST</span><span class="sy0">/</span>buddycloud-pusher_<span class="re1">$LATEST_all</span>.deb
<span class="co0"># Install it with dpkg</span>
<span class="kw2">dpkg</span> <span class="re5">-i</span> buddycloud-pusher_<span class="re1">$LATEST_all</span>.deb</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Configure_3">Configure</span>
			</h3>
			<p>
				Check your Pusher component is in Prosody
				<code>/etc/prosody/prosody.cfg.lua</code>
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="lua source-lua">
					<pre class="de1">Component <span class="st0">"pusher.EXAMPLE.COM"</span>
			 component_secret <span class="sy0">=</span> <span class="st0">"tellnoone"</span></pre>
				</div>
			</div>
			<p>
				Change XMPP settings in the Pusher
				<code>/usr/share/buddycloud-pusher/configuration.properties</code>
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="java source-java">
					<pre class="de1">xmpp.<span class="me1">subdomain</span><span class="sy0">=</span>pusher.<span class="me1">EXAMPLE</span>.<span class="me1">COM</span>
xmpp.<span class="me1">secretkey</span><span class="sy0">=</span>tellnoone</pre>
				</div>
			</div>
			<p>
				Add the Pusher to the API in
				<code>/etc/buddycloud-http-api/config.js</code>
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="lua source-lua">
					<pre class="de1">pusherComponent<span class="sy0">:</span> <span class="st0">'pusher.EXAMPLE.COM'</span></pre>
				</div>
			</div>
			<p>
				Change SMTP settings in the pusher
				<code>/usr/share/buddycloud-pusher/configuration.properties</code>
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="co0"># Use STMP auth</span>
mail.smtp.auth=<span class="kw2">true</span>
<span class="co0"># Enable start TLS</span>
mail.smtp.starttls.enable=<span class="kw2">true</span>
<span class="co0"># SMTP host</span>
mail.smtp.host=smtp.example.com
<span class="co0"># SMTP port</span>
mail.smtp.port=<span class="nu0">587</span>
<span class="co0"># SMTP login user</span>
mail.username=admin<span class="sy0">@</span>pusher.buddycloud.com
<span class="co0"># SMTP login password</span>
mail.password=password</pre>
				</div>
			</div>
			<p>
				Create a GCM project and get an API key as per
				<code><a rel="nofollow" class="external free" href="http://developer.android.com/google/gcm/gs.html#create-proj">http://developer.android.com/google/gcm/gs.html#create-proj</a></code>
			</p>
			<p>
				Change GCM settings in the pusher
				<code>/usr/share/buddycloud-pusher/configuration.properties</code>
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="co0"># GCM project id </span>
gcm.google_project_id=
<span class="co0"># GCM API key </span>
gcm.api_key=</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Restart">Restart</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>buddycloud-pusher restart
<span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>buddycloud-http-api restart</pre>
				</div>
			</div>
			<h3>
				<span class="mw-headline" id="Test_6">Test</span>
			</h3>
			<ul>
				<li>
					Enable and configure push notifications in the webclient (or via the
					<a rel="nofollow" class="external text" href="https://buddycloud.org/wiki/buddycloud_HTTP_API#.2Fnotification_settings">Pusher API</a>
					)
				</li>
				<li>
					After a new post in your channel, for instance, you should get an email and/or GCM notification.
				</li>
			</ul>
			<h3>
				<span class="mw-headline" id="Debug_5">Debug</span>
			</h3>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="kw2">tail</span> <span class="re5">-F</span> <span class="sy0">/</span>usr<span class="sy0">/</span>share<span class="sy0">/</span>buddycloud-pusher<span class="sy0">/</span>logs<span class="sy0">/</span>log</pre>
				</div>
			</div>
			<h2>
				<span class="mw-headline" id="Final_steps">Final steps</span>
			</h2>
			<p>You are done!</p>
			<p>
				Log-into your buddycloud node at
				<a rel="nofollow" class="external free" href="http://buddycloud.EXAMPLE.COM/">http://buddycloud.EXAMPLE.COM/</a>
				and follow your first channels.
			</p>
			<h2>
				<span class="mw-headline" id="Sharing_debug_info">Sharing debug info</span>
			</h2>
			<p>
				The following commands will generate a file called
				<code>/tmp/buddycloud-debug.txt</code>
				to
				<a rel="nofollow" class="external text" href="http://pastebin.com/">Pastebin</a>
				.
			</p>
			<p>
				When you have run the commands, please share the link in the
				<a rel="nofollow" class="external text" href="https://jappix.com/?r=seehaus@channels.buddycloud.com">buddycloud chat room</a>
				or on the
				<a rel="nofollow" class="external text" href="https://groups.google.com/forum/?fromgroups#!forum/buddycloud-dev">buddycloud-dev mailing list</a>
				.
			</p>
			<div dir="ltr" class="mw-geshi" style="text-align: left;">
				<div class="bash source-bash">
					<pre class="de1"><span class="co0"># buddycloud related configuration files</span>
<span class="kw2">sudo</span> <span class="kw2">cat</span> <span class="sy0">/</span>etc<span class="sy0">/</span>prosody<span class="sy0">/</span>prosody.cfg.lua \
				 <span class="sy0">/</span>etc<span class="sy0">/</span>postgresql<span class="sy0">/</span><span class="nu0">9.1</span><span class="sy0">/</span>main<span class="sy0">/</span>pg_hba.conf \
				 <span class="sy0">/</span>opt<span class="sy0">/</span>buddycloud-server-java<span class="sy0">/</span>environment.properties \ 
				 <span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>buddycloud-server-java \ 
				 <span class="sy0">/</span>var<span class="sy0">/</span>www<span class="sy0">/&lt;</span>your-domain-name<span class="sy0">&gt;/</span>config.js \ 
				 <span class="sy0">/</span>etc<span class="sy0">/</span>apache2<span class="sy0">/</span>sites-enabled<span class="sy0">/&lt;</span>your-domain-name<span class="sy0">&gt;</span>  <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud.debug.txt
&nbsp;
<span class="co0"># network </span>
<span class="kw2">ip addr</span>  show <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt
<span class="kw2">ip route</span> show <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt
&nbsp;
<span class="co0"># what is running</span>
<span class="kw2">ps</span> <span class="re5">-efww</span> <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt
&nbsp;
<span class="co0"># what's listening</span>
<span class="kw2">sudo</span> <span class="kw2">netstat</span> <span class="re5">-plutn</span> <span class="sy0">|</span> <span class="kw2">grep</span> LISTEN <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt
&nbsp;
<span class="co0"># what's stopping things from listening</span>
<span class="kw2">sudo</span> iptables <span class="re5">-vnL</span> INPUT <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt
<span class="kw2">sudo</span> iptables <span class="re5">-vnL</span> OUTPUT <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt
&nbsp;
<span class="co0"># the related log files</span>
<span class="kw2">sudo</span> <span class="kw2">tail</span> <span class="re5">-n</span> <span class="nu0">200</span> <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>apache2<span class="sy0">/&lt;</span>your-domain-name<span class="sy0">&gt;</span>-access.log \
								 <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>apache2<span class="sy0">/&lt;</span>your-domain-name<span class="sy0">&gt;</span>-error.log \
								 <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>prosody<span class="sy0">/</span>prosody.log \
								 <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>prosody<span class="sy0">/</span>prosody.err \
								 <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>buddycloud-server.log \
								 <span class="sy0">/</span>var<span class="sy0">/</span>log<span class="sy0">/</span>postgresql<span class="sy0">/</span>postgresql-<span class="nu0">9.1</span>-main.log <span class="sy0">&gt;&gt;</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.log 
&nbsp;
<span class="co0"># Edit the file and remove any passwords.</span>
<span class="kw2">sudo</span> edit <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt
&nbsp;
<span class="co0"># To automatically upload the file:</span>
<span class="kw2">sudo</span> <span class="kw2">apt-get install</span> pastebinit
<span class="kw2">sudo</span> <span class="kw2">cat</span> <span class="sy0">/</span>tmp<span class="sy0">/</span>buddycloud-debug.txt <span class="sy0">|</span> pastebinit</pre>
				</div>
			</div>

			<!-- 
NewPP limit report
Preprocessor node count: 398/1000000
Post-expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->

			<!-- Saved in parser cache with key mediawiki:pcache:idhash:92-0!*!0!!en!*!* and timestamp 20131012190701 --> </div>
	</div>
</section>