<h2 class="post-title">
    PRESS
</h2>
<p>
    Main website: <a href="http://www.buddycloud.com"></a><a href="http://www.buddycloud.com">www.buddycloud.com</a>
</p>
<p>
    facebook: <a href="http://www.facebook.com/and.the.future.is.buddycloud"></a><a href="http://www.facebook.com/and.the.future.is.buddycloud">www.facebook.com/and.the.future.is.buddycloud</a>
</p>
<p>
    twitter:@buddycloud
</p>
<p>
    buddycloud name: buddycloud is spelt lowercase
</p>
<h2>
    Downloads
</h2>
<p>
    <a href="http://m.buddycloud.com/tmp/proofs/reference%20design/logo.png" target="_blank">bc Logo Version 1</a><br>
    <a href="http://m.buddycloud.com/tmp/proofs/reference%20design/20100608-logo.png" target="_blank">bc Logo Version 2</a><br>
    <a href="http://m.buddycloud.com/tmp/proofs/reference%20design/square-logo.png" target="_blank">bc Logo Square<br></a><a href="http://m.buddycloud.com/tmp/proofs/reference%20design/buddycloud%20planen.pdf" target="_blank">bc Logo High Resolution</a>
</p>
<h2>
    Short description
</h2>
<p>
    Sharing, discovering, communicating. Magically simple. Sign up at buddycloud.com
</p>
<h2>
    Medium length description
</h2>
<p>
    Share, discover and communicate in a magically simple way - with buddycloud. Create a channel and invite your friends to share and discuss photos, videos and text. Your channels can be open to the world - or can be made private. Like email, a buddycloud channel is federated: Anyone can run a buddycloud server and all buddycloud instances will find each other. Simple. And your data stays secure.
</p>
<h2>
    Medium length description altern.
</h2>
<p>
    buddycloud is designed as a completely new way to share online. We took the best of social networks and applied it to group communication. In your buddycloud channel you can communicate and share with other thinkers and makers: buddycloud&acirc;&euro;&trade;s easy to understand privacy model and strong encryption keep you safe online.
</p>
<ul>
    <li>create as many channels as you like - open or private - no matter: your data lives in your own network
    </li>
    <li>invite your friends / your team in to share and discuss photos, videos and ideas about any subject
    </li>
    <li>join realtime conversation
    </li>
    <li>take an idea, explore it, make it happen
    </li>
</ul>
<h2>
    Long description
</h2>
<p>
    buddycloud took the best of social networks and applied it to group communication. As a completely new way to share online, it provides a space for exploring and discussing thoughts and ideas with other thinkers and makers.
</p>
<p>
    buddycloud believes in simple and sleek solutions combined with a nice design, easy to use for everyone who cares about privacy: Creating your own channels - as many as you like - you can join the world&acirc;&euro;&trade;s realtime conversation in the buddycloud universe. You always have full control over everything you post and share. At any time. You decide who can see and comment on your content.
</p>
<p>
    And like email, buddycloud is an open federated system: Whether developer or company - anyone can build their own buddycloud network and all buddycloud instances will find each other.
</p>
<p>
    buddycloud knows how important mobile is: So currently the team is working on refining the Android and iPhone apps for trusted location sharing and realtime channel updates. buddycloud also comes with great media integration, to share pictures and movies in a super simple way.
</p>
<p>
    With an easy to use development platform and libraries, buddycloud&acirc;&euro;&trade;s aim is to grow an open ecosystem for everyone. Since May 2012 buddycloud is a member of Mozilla&acirc;&euro;&trade;s WebFWD Open Innovation program that supports Open Source projects which extend the Web.
</p>
<h3>
    <strong>Simon Tennant, Founder and CEO</strong>
</h3>
<p>
    Simon Tennant became an entrepreneur at an early stage with several ventures under his belt before buddycloud.
</p>
<p>
    He grew up in South Africa and has always been a technologist. Studying computer science at Warwick University in the UK, he left early to start his first venture.
</p>
<p>
    Simon has had extensive experience building internet applications for startups and UBS, Deutsche Bank and at AOL, when he eventually launched buddycloud.
</p>
<p>
    Currently he splits his time between London, San Francisco and Munich. In his spare time he enjoys long distance running, rock climbing and most things in the mountains.
</p>
<p>
    Simon helps promote open standards through his work on two internet standards committees: the XMPP Standards Foundation and the W3C federated social network incubator.
</p>
<p>
    <strong>For press enquiries please contact</strong>
</p>
<p>
    <a href="http://Want%20to%20know%20more?%20Would%20like%20to%20write%20about%20us?%20%20%20Just%20contact%20donna.smith@buddycloud.com.">donna.smith@buddycloud.com</a>.
</p>
